body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0f7fa; /* Light cyan */
}

.container {
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

h1 {
    color: #00796b; /* Teal */
    margin-bottom: 20px; /* Add spacing below the heading */
    text-align: center; /* Center on large screens */
}

p {
    color: #004d40; /* Darker teal */
    margin-bottom: 40px; /* Add spacing below the paragraph */
}

a.brand-logo {
    height: 150px; /* Set the height of the logo */
    width: auto; /* Keep aspect ratio */
    padding-left: 500px; /* Add some padding to the left */
    font-size: 2.8em; /* Default font size */
    text-align: center;
}

a.white-text{
        font-size: 16px;
    }

.card-panel {
    animation: scaleIn 0.5s ease-in-out;
    cursor: pointer;
    position: relative;
    width: 100%;
    max-width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    margin: 10px auto; /* Center cards */
    transition: transform 0.3s ease;
}

.card-panel:hover {
    transform: scale(1.05);
}

@keyframes scaleIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

nav {
    background-color: #00796b !important; /* Teal */
}

.card-panel.orange {
    background-color: #ffab91 !important; /* Light orange */
}

.card-panel.green {
    background-color: #a5d6a7 !important; /* Light green */
}

.card-panel.purple {
    background-color: #ce93d8 !important; /* Light purple */
}

.card-panel.blue {
    background-color: #90caf9 !important; /* Light blue */
}

.card-panel.red {
    background-color: #ef9a9a !important; /* Light red */
}

/* Small screen adjustments */
@media only screen and (max-width: 600px) {
    h1 {
        text-align: left; /* Align to the left on small screens */
        padding-left: 10px; /* Add padding to the left for spacing */
    }

    a.brand-logo {
        font-size: 1.5em; /* Reduce the font size for small screens */
        padding-left: 5px; /* Maintain padding */
    }

    

    .container {
        margin-top: 20px;
    }

    p {
        font-size: 1.5em;
        padding: 0 10px;
        text-align: left; /* Align paragraph to the left as well */
    }

    .card-panel {
        max-width: 90%;
        height: auto;
        padding: 15px;
        font-size: 1em;
    }

    .card-panel span {
        font-size: 1.2em;
        text-align: center;
    }
}